/*
color de fondo #2e2e2a;
color de hover #f9a91a
*/
body{
	font-family: sans-serif;
}
nav{
	/*outline: 1px solid red;*/
}
ul{
	/*outline: 1px solid blue;*/
	list-style: none;
	padding: 0px;
	margin: 0px;
	background: #2e2e2a;
	line-height: 40px;
}
li{/*bloque*/
	/*outline: 1px solid yellow;*/
	width: 100px;
	/*display: inline-block;*/
	float: left;
	text-align: center;
	background-color: #2e2e2a;
}
a{
	/*outline: 1px solid green;*/
	text-decoration: none;
	display: block;
	color: #fff;
}
a:hover{
	background: #f9a91a;
	color: #000;
}